// Colors
$black: #000000;
$white: #ffffff;
$lightGrey: #9c9c9c;
$darkGrey: #4c4c4c;
$bluishGrey: #aaaaaa;
$beige: #fafad2;

// Breakpoints
$mobile: "min-width: 320px";
$tablet: "min-width: 768px";
$laptop: "min-width: 1024px";
$desktop: "min-width: 1366px";

// Dark theme
$MainColorDark: $black;
$SecondaryColorDark: $white;
$BackgroundDark: $black;
$ButtonTextDark: $black;
$ButtonOutlinedTextDark: $white;
$ButtonBorderDark: $white;
$ButtonBackgroundDark: $white;
$ButtonOutlinedBackgroundDark: $black;
$ButonFilledBackgroundDark: $bluishGrey;
$ButtonOutlinedHoveredColorDark: $bluishGrey;
$LinkDark: $white;
$LinkActiveDark: $bluishGrey;
$HeaderDark: $white;
$FooterColorDark: #ffffff4d;
$FooterIconDark: $white;
$ShowAllDark: #ffffff40;

// Light theme
$MainColorLight: $white;
$SecondaryColorLight: $black;
$BackgroundLight: $white;
$ButtonTextLight: $white;
$ButtonOutlinedTextLight: $black;
$ButtonBorderLight: $black;
$ButtonBackgroundLight: $black;
$ButtonOutlinedBackgroundLight: $white;
$ButonFilledBackgroundLight: $darkGrey;
$ButtonOutlinedHoveredColorLight: $darkGrey;
$LinkLight: $black;
$LinkActiveLight: $darkGrey;
$HeaderLight: $black;
$FooterColorLight: #0000004d;
$FooterIconLight: $black;
$ShowAllLight: #00000040;

// Both
$IconButtonBackground: #ffffff1a;
$StarColor: #ffff00;
$TrashColor: $black;
$EditColor: $bluishGrey;
$TagBackground: $beige;
$TagTextColor: $black;
